$color: (
    primary: #464159,
    primary-active: #363244,
    secondary: #6C7B95,
    dark-green: #8BBABB,
    light-green: #C7F0DB,
);

$desktop: 1024px;

@mixin desktop() {
    @media (min-width: $desktop) {
        @content;
    }
}

@function color($color-name) {
    @return map-get($map: $color, $key: $color-name);
}

$primary: color(primary);

.title,
.navbar-item,
.navbar-burger {
    color: color(light-green) !important;
}

.subtitle {
    color: color(secondary) !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: color(primary);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    .navbar-menu {
        background-color: color(primary);

        .navbar-item {

            &:hover {
                background-color: color(primary-active);
            }

            &.is-active {
                background-color: color(primary-active);
            }
        }
    }
}

.hero {
  padding: 0;
  display: none;
  background-color: color(primary);

  &.is-active {
      display: flex;
  }
}

.content {
    max-width: 350px;
    margin: auto;
    text-align: center;

    .button {
        margin-top: 50px;
        border: 3px solid color(light-green) !important;
        color: color(light-green);
        border-radius: 10px;
        padding-bottom: 40px;
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: transparent;
        transition: all .2s ease;

        &:hover {
            color: color(primary);
            background-color: color(dark-green) !important;
            transform: translateY(-3px);
        }
    }

    .contact-us {
        margin: 60px 0;
    }
}

.home-section .container {
    justify-content: space-between;
    align-items: center;

    .image {
        background-image: url("../assets/filler.jpg");
        background-position: center;
        background-size: cover;
        height: 790px;
        width: 590px;
        border: 10px solid color(secondary);
        border-radius: 10px;

        figcaption {
            position: absolute;
            bottom: 0;
            padding: 10px 20px;
            background-color: color(primary);
            color: color(light-green);

            a:hover {
                color: color(secondary);
            }
        }
    }
}

.menu-section .container {

    .column {
        margin: auto;
        max-width: 360px;
        margin-top: 50px;
        text-align: center;
        
        .image {
            max-width: 330px;
            height: 240px;
            background-color: color(light-green);
            border-radius: 5px;
        }

        .image-caption {
            margin-top: 30px;
        }
    }
}

@include desktop() {
    .content {
        margin: 0;
        max-width: 400px;
    }

    .navbar-item.is-active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 2px;
        background-color: color(dark-green);
    }
}
